body{
    font-family:"Heebo", sans-serif;
    font-size: 20px;
    margin:0px;
}
.site-header{
    position:fixed;
    padding:10px;
    z-index:2;
    background-color: #182538;
    width: 100%;
}

.container{
    width:100%;
    margin:0 auto;
    margin-bottom: 20px;
    padding-left:16px;
    padding-right:16px
}

    @media (min-width: 481px)
    {
        .container,.container-sm{
            padding-left:24px;
            padding-right:24px
        }
    }
.container
{
    max-width:1128px
}
.container-sm
{
    width:100%;
    margin:0 auto;
    padding-left:5px;
    padding-right:5px;
    margin-bottom: 10px;
}

.iconcontainer{
    margin-left: 90%;
    color: white;
}

.hero{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}

.hero-copy{
    position:relative;
    margin-left: 10%;
}
.hero-paragraph{
    margin-bottom:32px;
    color: gray;
}
.hero-cta{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:80px;
}

@media (min-width: 641px){
    .hero{
        text-align:left;
        padding-top:188px;
        padding-bottom:120px;
    }
    .hero-inner{
        display:flex;
        justify-content:space-between
    }
    .hero-copy{
        padding-top:40px;
        padding-right:48px;
        min-width:448px;
        max-width:512px;
        z-index:1
    }
    .hero-title{
        margin-bottom:16px
    }
    .hero-paragraph{
        margin-bottom:32px
    }
    .hero-cta{
        display:flex;
        align-items:center;
        margin:0}
    .hero-cta .button{
        min-width:170px
    }
}

.button-primary{
    color:#fff !important;
    background-color:#535FD7; 
    padding: 15px; 
    text-decoration: none; 
    align-items: center; 
    justify-content: center;
    display:flex}

.button-primary:hover{
    background:#383f92
}

.img{
    margin-right: 10%;
}

.features-wrap{
    max-width:540px;
    margin:0 auto
}
.feature{
    text-align:center;
    margin-bottom:48px
}
.feature-icon{
    display:inline-flex;
    margin-bottom:16px
}

.feature-title{
    position:relative;
    margin-bottom:26px
}
@media (min-width: 641px){
    .features{
        position:relative;
        text-align:left
    }
    .features .section-inner{
        padding-bottom:100px
    }
    .features .section-paragraph{
        padding-left:72px;
        padding-right:72px
    
    }
    .feature-inner{display:flex}
    .feature-icon{
        display:block;
        margin-top:8px;
        margin-right:32px;
        margin-bottom:0
    }
}

.section-paragraph{
    padding-left:72px;
    padding-right:72px;
    margin-left: 10%
}

.site-footer{
    font-size:20px;
    line-height:20px;
    letter-spacing:0px;
    background:#182538;
    color:#6B7A90
}

.site-footer a{
    color:#6B7A90;
    text-decoration:none
}

.site-footer a:hover{
    text-decoration:underline
}

.site-footer-inner{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    padding-top:10px;
    padding-bottom:10px}

.footer-links{
    flex:none;
    width:100%;
    display:inline-flex;
    justify-content:center
}

.footer-links{
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}
.footer-links li+li{
    margin-left:10px;
    margin-right: 10px;
}

@media (min-width: 641px){
    .site-footer-inner{
        justify-content:space-between;
        padding-top:10px;
        padding-bottom:10px}
    .footer-links{
        flex:50%
    }
    .footer-links{
        justify-content:flex-end
    }
    .footer-links{
        order:1;
        margin-bottom:0
    }
}

.wraper-left{
    display: flex;
    justify-content:flex-start;
    margin-top : 10px;
    flex-wrap: wrap;
}

.grid{
    padding-top:100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#grid-line {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px;
  }
   
  div.cell {
    background: #94cbe4;
    border: 1px solid #aaa;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  i:hover{
      transform: scale(1.5);
      color:purple;
  }

  .spanrow {
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .spancol {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .spanrowcol{
      grid-row-start: 7;
      grid-row-end: 9;
      grid-column-start: 2;
    grid-column-end: 3;
  }
  img{
      object-fit:fill;
  }